@charset "UTF-8";
@media screen and (max-width: 768px) {
  html, body {
    font-size: 8px !important; /* important yazmasam işləmir */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #302c42;
  padding: 5rem 8.4rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}
.header .header_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  width: 100%;
}
.header .header_navbar .header_navbar_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  width: 19.3rem;
}
.header .header_navbar .header_navbar_logo .header_navbar_logo_img {
  width: 10.2rem;
  height: 10.3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header_navbar .header_navbar_logo .header_navbar_logo_name {
  width: 7.6rem;
  height: 4.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header_navbar .header_navbar_menu {
  width: 39rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.header .header_navbar .header_navbar_menu .header_navbar_menu_item .header_navbar_menu_item_link {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.header .header_navbar .header_navbar_button {
  width: 34.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.header .header_navbar .header_navbar_button .header_navbar_button_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  border-radius: 4rem;
  width: 15.4rem;
  height: 4.8rem;
}
.header .header_navbar .header_navbar_button .header_navbar_button_item_link_contactUs {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  border: 2px solid #ffffff;
}
.header .header_navbar .header_navbar_button .header_navbar_button_item_link_hydra {
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
.header .header_navbar .header_navbar_icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header_navbar .header_navbar_menu {
    display: none;
  }
  .header .header_navbar .header_navbar_button {
    display: none;
  }
  .header .header_navbar .header_navbar_icon {
    display: block;
  }
}

.main_banner {
  display: flex;
  flex-direction: column;
  margin-top: 9.8rem;
}
.main_banner .main_banner_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
}
.main_banner .main_banner_top .main_banner_top_text {
  width: 40%;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_main .main_banner_top_text_main_title {
  color: #ffffff;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.6rem;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_main .main_banner_top_text_main_title .main_banner_top_text_main_title_linear {
  background-image: linear-gradient(to right, #C0B7E8, #8176AF);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_paragraph {
  margin-top: 3.6rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4rem;
  margin-top: 4rem;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button .main_banner_top_text_button_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  border-radius: 4rem;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  width: 21.4rem;
  height: 4.8rem;
}
.main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button .main_banner_top_text_button_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  width: 4.1rem;
  height: 3.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.main_banner .main_banner_top .main_banner_top_img {
  width: 52rem;
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem 10rem 10rem 24rem;
  border: 1.8rem solid rgba(0, 0, 0, 0.13);
}
.main_banner .main_banner_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
  margin-top: 8.8rem;
  width: 100%;
  height: 16.7rem;
  border-radius: 9rem;
  background-image: radial-gradient(#403a5f, #211e2e);
  padding-block: 2.8rem;
}
.main_banner .main_banner_bottom .main_banner_bottom_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  padding-inline: 4rem;
  border-right: 1px solid rgba(192, 183, 232, 0.3294117647);
}
.main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_icon {
  display: none;
}
.main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.3rem;
}
.main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center .main_banner_bottom_item_center_icon {
  width: 4.4rem;
  height: 4.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center .main_banner_bottom_item_center_text .main_banner_bottom_item_center_text_title {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.9rem;
}
.main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center .main_banner_bottom_item_center_text .main_banner_bottom_item_center_text_paragraph {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.main_banner .main_banner_bottom .main_banner_bottom_item:last-child {
  border: none;
}
@media screen and (max-width: 768px) {
  .main_banner .main_banner_top {
    flex-direction: column-reverse;
  }
  .main_banner .main_banner_top .main_banner_top_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  .main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_paragraph {
    display: none;
  }
  .main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button {
    width: 100%;
  }
  .main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button .main_banner_top_text_button_link {
    width: 100%;
    height: 9.6rem;
  }
  .main_banner .main_banner_top .main_banner_top_text .main_banner_top_text_button .main_banner_top_text_button_link .main_banner_top_text_button_img {
    display: none;
  }
  .main_banner .main_banner_bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    border: none;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_icon {
    display: block;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center {
    gap: 1rem;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_center .main_banner_bottom_item_center_text .main_banner_bottom_item_center_text_title {
    display: none;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_item .main_banner_bottom_item_text_title {
    display: none;
  }
  .main_banner .main_banner_bottom .main_banner_bottom_itemTwo,
  .main_banner .main_banner_bottom .main_banner_bottom_itemThree {
    display: none;
  }
}

.main_introduction_and_build {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 10rem;
  margin-top: 9rem;
}
.main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_primary {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
}
.main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_secondary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3rem;
}
.main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_secondary .main_introduction_and_build_title_secondary_text {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.3rem;
}
.main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_secondary .main_section_title_icon {
  max-width: 22.8rem;
  max-height: 6rem;
}
.main_introduction_and_build .main_introduction_and_build_text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
@media screen and (max-width: 768px) {
  .main_introduction_and_build {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    text-align: center;
  }
  .main_introduction_and_build .main_introduction_and_build_text {
    display: none;
  }
  .main_introduction_and_build .main_introduction_and_build_title {
    width: 100%;
  }
  .main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_secondary {
    width: 100%;
    margin-top: 1.6rem;
    flex-direction: column;
  }
  .main_introduction_and_build .main_introduction_and_build_title .main_introduction_and_build_title_secondary .main_section_title_icon {
    display: none;
  }
}

.main_about {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 10rem;
  margin-top: 9rem;
}
.main_about .main_about_img .main_about_img_item {
  max-width: 55.4rem;
  max-height: 55.7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24rem 10rem 24rem 10rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.main_about .main_about_cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4.2rem;
}
.main_about .main_about_cards .main_about_cards_top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.main_about .main_about_cards .main_about_cards_top .main_about_cards_top_title {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
}
.main_about .main_about_cards .main_about_cards_top .main_about_cards_top_secondary {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.3rem;
}
.main_about .main_about_cards .main_about_cards_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.8rem;
}
.main_about .main_about_cards .main_about_cards_bottom .main_about_cards_bottom_text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.main_about .main_about_cards .main_about_cards_bottom .main_about_cards_bottom_button {
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  width: 21.4rem;
  height: 4.8rem;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 4rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main_about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }
  .main_about .main_about_cards .main_about_cards_top {
    display: none;
  }
  .main_about .main_about_cards .main_about_cards_bottom .main_about_cards_bottom_button {
    align-self: center;
  }
}

.main_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.main_cards .main_cards_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  min-height: 48rem;
  max-width: 31rem;
  padding: 2.3rem 2.5rem 4rem 2.5rem;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 4rem;
}
.main_cards .main_cards_item .main_cards_item_img {
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1rem solid rgba(14, 14, 14, 0.3215686275);
}
.main_cards .main_cards_item .main_cards_item_name {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  min-width: 16rem;
  margin-top: 2.1rem;
  padding-bottom: 1.7rem;
  border-bottom: 1px solid rgba(192, 183, 232, 0.3294117647);
}
.main_cards .main_cards_item .main_cards_item_text {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin-top: 2.1rem;
}
.main_cards .main_cards_item .main_cards_item_button {
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  margin-top: 3.5rem;
  width: 15.4rem;
  height: 4.8rem;
  border-radius: 4rem;
}
.main_cards .main_cards_item_one {
  position: relative;
}
.main_cards .main_cards_item_one .main_cards_icon {
  display: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: rgba(14, 14, 14, 0.3215686275);
  cursor: pointer;
  position: absolute;
}
.main_cards .main_cards_item_one .main_cards_icon .main_cards_icon_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.8rem;
  height: 3.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 50%;
}
.main_cards .main_cards_item_one .main_cards_icon_left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main_cards .main_cards_item_one .main_cards_icon_right {
  right: -4.8rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .main_cards {
    justify-content: center;
  }
  .main_cards .main_cards_item_two,
  .main_cards .main_cards_item_three,
  .main_cards .main_cards_item_four {
    display: none;
  }
  .main_cards .main_cards_item_one .main_cards_icon {
    display: block;
  }
}

.main_tech {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6rem;
  margin-top: 10rem;
  position: relative;
}
.main_tech .main_tech_image {
  position: relative;
  padding-block: 9rem;
  width: 100%;
  background: url("assets/img/tech_bg_image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9rem;
  text-align: center;
}
.main_tech .main_tech_image .main_tech_image_title {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
}
.main_tech .main_tech_image .main_tech_image_name {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 4.3rem;
}
.main_tech .main_tech_image .main_tech_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: rgba(14, 14, 14, 0.3215686275);
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 4.6rem);
  cursor: pointer;
}
.main_tech .main_tech_image .main_tech_icon .main_tech_icon_item {
  border-radius: 50%;
  font-size: 3rem;
  color: #433d60;
  padding: 2rem;
  background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
}
.main_tech .main_tech_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 9rem;
  flex-wrap: wrap;
}
.main_tech .main_tech_cards .main_tech_cards_icon {
  display: none;
}
.main_tech .main_tech_cards .main_tech_cards_item_img:first-child {
  max-width: 17.4rem;
  max-height: 17.4rem;
}
.main_tech .main_tech_cards .main_tech_cards_item_img {
  max-width: 25.2rem;
  max-height: 25.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .main_tech .main_tech_image .main_tech_icon {
    display: none;
  }
  .main_tech .main_tech_cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    text-align: center;
  }
  .main_tech .main_tech_cards .main_tech_cards_item_two,
  .main_tech .main_tech_cards .main_tech_cards_item_three,
  .main_tech .main_tech_cards .main_tech_cards_item_four {
    display: none;
  }
  .main_tech .main_tech_cards .main_tech_cards_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: rgba(14, 14, 14, 0.3215686275);
    border-radius: 50%;
  }
  .main_tech .main_tech_cards .main_tech_cards_icon .main_tech_cards_icon_img {
    border-radius: 50%;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  }
  .main_tech .main_tech_cards .main_tech_cards_left_icon {
    left: 0;
  }
  .main_tech .main_tech_cards .main_tech_cards_right_icon {
    right: 0;
  }
}

.main_circleCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 11rem;
  flex-wrap: wrap;
  margin-top: 9rem;
}
.main_circleCards .main_circleCards_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  flex-direction: column;
  position: relative;
}
.main_circleCards .main_circleCards_item .main_circleCards_item_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  width: 19.8rem;
  height: 19.8rem;
  border-radius: 50%;
  background-color: rgba(13, 13, 13, 0.3215686275);
}
.main_circleCards .main_circleCards_item .main_circleCards_item_top .main_circleCards_item_top_number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
  color: #343045;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.8rem;
}
.main_circleCards .main_circleCards_item .main_circleCards_item_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.8rem;
}
.main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_icon {
  display: none;
}
.main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_right {
  font-size: 3rem;
  color: #c0b7e8;
}
.main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_text .main_circleCards_item_bottom_text_title {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
}
@media screen and (max-width: 768px) {
  .main_circleCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .main_circleCards .main_circleCards_itemTwo,
  .main_circleCards .main_circleCards_itemThree,
  .main_circleCards .main_circleCards_itemFour {
    display: none;
  }
  .main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    position: absolute;
    border-radius: 50%;
    width: 6.2rem;
    height: 6.2rem;
    background-color: rgba(14, 14, 14, 0.3215686275);
  }
  .main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_icon i {
    background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #433d60;
  }
  .main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_icon_left {
    left: -2rem;
  }
  .main_circleCards .main_circleCards_item .main_circleCards_item_bottom .main_circleCards_item_bottom_icon_right {
    right: -2rem;
  }
}

.main_register {
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
  margin-top: 11rem;
  padding: 9rem 4rem;
  border-radius: 10rem;
}
.main_register .main_register_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.main_register .main_register_top .main_register_top_title {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
  width: 41rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%) 1;
     border-image: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%) 1;
}
.main_register .main_register_top .main_register_top_text {
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.3rem;
}
.main_register .main_register_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}
.main_register .main_register_form .main_register_form_main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: 100%;
  row-gap: 4rem;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input:nth-child(5),
.main_register .main_register_form .main_register_form_main .main_register_form_main_input:nth-child(6) {
  grid-column: span 2;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input {
  border-radius: 4rem;
  padding: 2rem 4.2rem;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input_text {
  height: 21rem;
  resize: none;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input::-moz-placeholder {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input::placeholder {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input:focus {
  outline: none;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.main_register .main_register_form .main_register_form_main .main_register_form_main_input:not(:focus) {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.main_register .main_register_form .main_register_form_button {
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  width: 21rem;
  height: 4.8rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main_register .main_register_form {
    width: 100%;
  }
  .main_register .main_register_form .main_register_form_main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.2rem;
  }
  .main_register .main_register_form .main_register_form_main .main_register_form_main_input {
    width: 100%;
  }
  .main_register .main_register_form .main_register_form_button {
    width: 100%;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4.3rem;
  margin-top: 12.2rem;
}
.footer .footer_top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  padding-bottom: 7rem;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%) 1;
     border-image: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%) 1;
}
.footer .footer_top .footer_top_logo {
  width: 23%;
  padding-right: 10rem;
}
.footer .footer_top .footer_top_logo .footer_top_logo_img {
  width: 18.5rem;
  height: 18.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer_top .footer_top_menu {
  width: 23%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  min-height: 19rem;
  padding-inline: 9rem;
  border-left: 6px solid;
  -o-border-image: linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #c0b7e8 35.21%, #8176af 68.91%, #343045 99.5%) 1;
     border-image: linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #c0b7e8 35.21%, #8176af 68.91%, #343045 99.5%) 1;
}
.footer .footer_top .footer_top_menu .footer_top_menu_item .footer_top_menu_item_link {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
}
.footer .footer_top .footer_top_about {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3.9rem;
  min-height: 19rem;
  padding-left: 9rem;
  border-left: 6px solid;
  -o-border-image: linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #c0b7e8 35.21%, #8176af 68.91%, #343045 99.5%) 1;
     border-image: linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #c0b7e8 35.21%, #8176af 68.91%, #343045 99.5%) 1;
}
.footer .footer_top .footer_top_about .footer_top_about_title {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
}
.footer .footer_top .footer_top_about .footer_top_about_media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer .footer_top .footer_top_about .footer_top_about_media .footer_top_about_media_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: #c0b7e8;
}
.footer .footer_top .footer_top_about .footer_top_about_media .footer_top_about_media_item .footer_top_about_media_item_icon {
  color: #302c42;
}
.footer .footer_top .footer_top_about .footer_top_about_button {
  color: #343045;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  max-width: 21rem;
  padding-inline: 2rem;
  height: 4.8rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  cursor: pointer;
}
.footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3rem;
}
.footer .footer_bottom .footer_bottom_text {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
}
@media screen and (max-width: 768px) {
  .footer .footer_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }
  .footer .footer_top .footer_top_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
  .footer .footer_top .footer_top_menu {
    display: none;
  }
  .footer .footer_top .footer_top_about {
    border: none;
    padding: 0;
    align-items: center;
  }
  .footer .footer_top .footer_top_about .footer_top_about_title {
    text-align: center;
  }
  .footer .footer_top .footer_top_about .footer_top_about_media {
    flex-wrap: nowrap;
  }
  .footer .footer_top .footer_top_about .footer_top_about_button {
    width: 100%;
  }
  .footer .footer_bottom {
    text-align: center;
    flex-direction: column;
  }
  .footer .footer_bottom_text:nth-child(2)::first-letter,
  .footer .footer_bottom_text:nth-child(3)::first-letter {
    font-size: 0;
  }
}/*# sourceMappingURL=main.css.map */